<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-10 col-sm-11 mx-auto px-4">
      <h1>Welcome to <i class="fa-solid fa-book"></i><strong>Bookers !!</strong></h1>
      <p>In <i class="fa-solid fa-book"></i><strong>Bookers</strong>,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions<br>
      about various books!</p>
      <div class="container mx-auto">
        <%= link_to "guest rog in", users_guest_sign_in_path, class: "btn btn-block  btn-sm btn-secondary mt-4", method: :post %>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-block  btn-sm btn-info mt-4" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-block btn-sm btn-success mt-3" %>
      </div>
    </div>
  </div>
</div>